@import 'theme';

.headline {
  margin-bottom: 24px;
  text-align: center;
}

.event-cover {
  text-align: center;
  margin-bottom: 20px;
  border-radius: 3px;
  background-color: $palette-clouds;
  font-size: 12px;

  img {
    max-width: 100%;
    border-radius: 3px 3px 0 0;
  }

  span {
    display: block;
    padding: 8px 0;
  }
}

.sidebar {
  margin-bottom: 20px;
  padding: 16px 18px;
  border-radius: 4px;
  background-color: mix($palette-clouds, #ffffff);

  h3:first-child {
    margin-top: 4px;
  }
}

.officials {
  li {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  a {
    img {
      margin-right: 6px;
    }

    &:hover {
      text-decoration: none;
    }

    .position {
      color: $palette-silver;
    }
  }
}

.commitments h3, .status-breakdown {
  .fa {
    margin-right: 4px;
  }

  .completed {
    color: $color-completed;

    &:before {
      content: "\f058";
    }
  }

  .failed {
    color: $color-failed;

    &:before {
      content: "\f057";
    }
  }

  .unknown {
    color: $color-unknown;

    &:before {
      content: "\f059";
    }
  }

  .pending {
    color: $color-pending;

    &:before {
      content: "\f017";
    }
  }
}

.commitment {
  &:not(:last-child) {
    margin-bottom: 36px;
  }
}

.status-chart {
  text-align: center;

  path {
    &.completed {
      fill: $color-completed;
      content: "\f058";
    }

    &.failed {
      fill: $color-failed;
    }

    &.unknown {
      fill: $color-unknown;
    }

    &.pending {
      fill: $color-pending;
    }
  }
}

.event-list {
  .media-left a {
    display: inline-block;
    background-size: cover;
    width: 160px;
    height: 90px;
    margin-right: 10px;
    border: 2px solid $palette-clouds;
  }
}

.gallery-link {
  background-size: cover;
  background-position: center center;

  &, & a {
    display: inline-block;
    border-radius: 3px;
  }

  a {
    padding: 16px 22px;
    background-color: rgba(0, 0, 0, .4);

    &, &:visited {
      color: $palette-clouds;
    }

    &:hover, &:active {
      color: $palette-silver;
    }

    span {
      margin-left: 12px;
    }
  }
}

@media (max-width: 768px) {
  .gallery-link, .gallery-link a {
    width: 100%;
    text-align: center;
  }
}
