<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="index" title="πολιτεία">Politeia <span class="beta">beta</span></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="events">Sucesos</a></li>
        <li ui-sref-active="active"><a ui-sref="officials">Funcionarios</a></li>
      </ul>
    </div>
  </div>
</nav>

<!--[if lt IE 8]>
  <div class="alert alert-warning browse-happy">
    <div class="container">
      Estás usando un <strong>navegador desactualizado</strong>.
      Por favor <a href="http://browsehappy.com/?locale=es">actualiza tu navegador</a> para mejorar tu
      experiencia.
    </div>
  </div>
<![endif]-->

<div class="container" ui-view></div>

<footer>
  <div class="container"></div>
</footer>
