<!-- TODO(egarcia): Refactor this into a directive, and limit max length of each item -->
<ol class="breadcrumb">
  <li><a ng-href="#/events/{{ event.id }}">{{ event.title }}</a></li>
  <li><a ng-href="#/events/{{ event.id }}/commitments/{{ commitmentIndex }}/gallery">Galería:
    {{ commitment.title }}</a></li>
  <li class="active">{{ galleryItem.title }}</li>
</ol>

<h1>
  <i class="fa fa-fw fa-thumbs-{{ galleryItem.isPositive ? 'up' : 'down' }}"></i>
  {{ galleryItem.title }}
</h1>

<p>{{ galleryItem.description }}</p>

<p>Fuente: <a ng-href="{{ source.url }}" target="_blank">{{ source.title }} | {{ source.site }}</a></p>

<div class="image-container">
  <a ng-href="{{ galleryItem.url }}"><img ng-src="{{ galleryItem.url }}" alt=""></a>
</div>
