<input type="text" class="form-control" ng-model="filter.name" placeholder="Búsqueda">

<ul class="list-unstyled official-list">
  <li ng-repeat="official in officials | filter:filter">
    <div class="media">
      <div class="media-left">
        <a ng-href="#/officials/{{ official.id }}">
          <img ng-src="{{ official.avatarUrl }}" class="media-object avatar avatar-medium"></a>
      </div>
      <div class="media-body">
        <h3 class="media-heading"><a ng-href="#/officials/{{ official.id }}">{{ official.name }}</a></h3>
        {{ official.description }}
      </div>
    </div>
  </li>
</ul>
